.fade {
  opacity: 0;
  transition: 0.6s; /* How fast the animation will run. */
}

/* Resets the element to the original position when the fade triggers. */
.fade.in {
  opacity: 1;
  transform: translateY(0);
}

/* How distant the element is from its original position; Adjust to your liking. */
.from-top {
  transform: translateY(-200px);
}
.from-right {
  transform: translateX(200px);
}
.from-bottom {
  transform: translateY(100px);
}
.from-left {
  transform: translateX(-200px);
}
